.containerSearch {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 80vh;
}
.containerSearch .searchInputBox {
  padding: 5rem;
  border-radius: 3rem;
  width: 60rem;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.searchInputBox .icons {
  height: 33px;
}
.searchInputBox input {
  border: none;
  outline: none;
  background: rgb(164, 112, 112);
  flex-grow: 1;
  font-size: 1.6rem;
}
.resultSearch {
  margin: 2rem;
  display: flex;
  z-index: 2;
}
.resultSearch .songs_container {
  flex: 2;
}
