._oGACf{
  height: 100%;
  width: 100%;
  /* position: fixed; */
}
._RZMQZ {
  display: none;
  
}

._1EWMa{
  border-radius: 0px;
  /* height: 70px; */
}

._3q4Ah{
  font-size: 15px;
}

._tAQkw{
  font-size: 15px;
}

/* ._2FsrM{
  height: 50px;
} */