._oGACf{
  height: 100%;
  width: 100%;
  /* position: fixed; */
}
._1EWMa{
  border-radius: 0px;
  height: 200px;
}

._2_1sf {
  margin: 0px;
}
._RZMQZ {
  display: none;
  
}


._3q4Ah{
  font-size: 15px;
}

._tAQkw{
  font-size: 15px;
}

/* ._2FsrM{
  height: 50px;
} */