<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div class="_oGACf">
        <div class="_1EWMa">
          <div class="_wKo5X">
            <h1 class="_3q4Ah">Better of alone</h1>
            <h1 class="_tAQkw">0:00/3:05</h1>
          </div>

          <div class="_2cSIF">
            <input
              type="range"
              min="1"
              max="100"
              step="1"
              class="_mIY65"
              id="myRange"
              value="1"
              style="
                background: linear-gradient(
                  90deg,
                  var(--progressUsed) 1%,
                  var(--progressLeft) 1%
                );
              "
            />
          </div>

          <div class="_2_1sf">
            <div class="_2FsrM">
              <img
                class="_3CCfI"
                src="/node_modules/@madzadev/audio-player/dist/loop_none~beQtXZXI.png"
              /><img
                class="_3Juzi"
                src="/node_modules/@madzadev/audio-player/dist/previous~HcmvNVfM.png"
              /><img
                class="_19ycA"
                src="/node_modules/@madzadev/audio-player/dist/play~HzjgLbtN.png"
              /><img
                class="_3a3Vy"
                src="/node_modules/@madzadev/audio-player/dist/next~bgHcmLNb.png"
              /><img
                class="_8c4KL"
                src="/node_modules/@madzadev/audio-player/dist/shuffle_none~rRNEYewC.png"
              />
            </div>
            <div class="_1cpXy">
              <input
                type="range"
                min="1"
                max="100"
                class="_awgvT"
                id="myRange"
                value="80"
                style="
                  background: linear-gradient(
                    90deg,
                    var(--volumeUsed) 80%,
                    var(--volumeLeft) 80%
                  );
                "
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
