.slider-container {
    margin-left: 15px;  
    padding-bottom: 15px; 
    width: 100%;   
    height: 160px;
    overflow-x: hidden;   
 
}


.slider {
    display: flex;
    cursor: grab;
   
}

.item {
    color: white;
    font-size: small;
    height: 105px;
    width: 105px;
    padding: 4px;
    box-sizing: unset;
    
}

.item img {
    height: -webkit-fill-available;
    width: 105px;
    pointer-events: none;
    
}

.item p {
    margin-top: 0;
    text-align: center;
}

.artistsProfile {
    border-radius: 50%;
}

@media only screen and (min-width: 1200px) {
    .slider-container {
            padding-bottom: 15px;
            width: 100%;
            height: 160px;
            overflow-x: hidden;
        }
    
        .slider {
            display: flex;
            cursor: grab;
        }
    
        .item {
            color: white;
            font-size: small;
            height: 105px;
            width: 105px;
            padding: 4px;
            box-sizing: unset;
        }
    
        .item img {
            height: -webkit-fill-available;
            width: 105px;
            pointer-events: none;
        }
    
        .item p {
            margin-top: 0;
        }
}
